body {
    font-family: Arial;
    font-size: 12pt;
    color: #371009;
    background: url("../images/fundo.png") repeat ;
}
div {
    display:block;
    position:relative;
}
#content {
    width: 80%;
    margin:0 auto;
}
#top-bar {
    height: 54px;
}
#right-menu {
    float:right;
}
.top-btn {
    margin-left: 10px;
}
#middle-content {
    display:block;
    margin-bottom: 90px;
}
#imagem-central {
    display:block;
    margin: auto;
}
#bottom-btn-container {
    width: 375px;
    height: 30px;
    margin: 25px auto;
}
button{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color: #a7b7ac;
    border: none ;
    text-transform: uppercase;
}
#bottom-left-btn {
    position: absolute;
    bottom:0;
    left:0;
}
#bottom-right-btn {
    position: absolute;
    bottom:0;
    right:0;
}
p {
   font-size: 9pt;
    text-align: center;
}
