<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Educativo - CTEM</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/crachas.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/table.css">
    <script src="javascripts/jquery-2.2.4.min.js"></script>
</head>
<body>
<div id="content">
    <div id="top-bar">
        <div id="left-menu">
            <image id="logo-image" src="images/CTMx_logo.png" alt="Logotipo"/>
        </div>
        <div id="right-menu">
            <image id="home-btn" class="top-btn"src="images/home.png" alt="Página de entrada"/>
            <image id="help-btn" class="top-btn"src="images/help.png" alt="Ajuda"/>
            <image id="som-btn" class="top-btn" src="images/som_off.png" alt="Controlo de som"/>
        </div>
    </div>
    <div id="middle-content">
        <div id="crachas-logos">
            <div id="jardim-block" class="crachas-block">
                <image id="crachaJardineiro" src="images/jardineiro_badge_branco.png" alt="Imagem central" width="200px" height="200px"/>
            </div>
            <div id="fabrica-block" class="crachas-block">
                <image id="crachaFabrica" class="disabled" src="images/chocolate_badge_branco.png" alt="Imagem central" width="200px" height="200px"/>
            </div>
            <div id="treino-block" class="crachas-block">
                <image id="crachaOlimpico" class="disabled" src="images/olimpico_badge_branco.png" alt="Imagem central" width="200px" height="200px"/>
            </div>
            <div id="agencia-block" class="crachas-block">
                <image id="crachaEspacial" class="disabled" src="images/espaco_badge_branco.png" alt="Imagem central" width="200px" height="200px"/>
            </div>
        </div>
        <div id="crachas-frases">
            <p id="crachasFrase1"></p>
            <p id="crachasFrase2"></p>
        </div>
        <div id="crachas-leaderboard">
            <!-- Table credit to:
            <!-- Responsive table starts here -->
            <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                    <tr>
                        <th>Posição</th>
                        <th>Nome</th>
                        <th>Pontuação</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="tuaPontuacao">
                <p id="userPontuacao"></p>
            </div>
        </div>
    </div>
    <div>
        <p>Projecto desenvolvido no âmbito da Unidade Curricular de Software Educativo | FEUP | 2016</p>
    </div>
</div>
<script src="javascripts/crachas.js"></script>
</body>
</html>