<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Software Educativo - CTEM</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>
<body>
<div id="content">
    <div id="top-bar">
        <div id="right-menu">
            <image id="help-btn" class="top-btn"src="images/help.png" alt="Ajuda"/>
            <image id="som-btn" class="top-btn" src="images/som_off.png" alt="Controlo de som"/>
        </div>
    </div>
    <div id="middle-content">
        <image id="imagem-central"src="images/imagem_ecra01.png" alt="Imagem central"/>
        <div id="bottom-btn-container">
            <button type="button" id="bottom-left-btn"class="btn">Jogos</button>
            <button type="button" id="bottom-right-btn">Crachás</button>
        </div>
    </div>
    <div>
        <p>Projecto desenvolvido no âmbito da Unidade Curricular de Software Educativo | FEUP | 2016</p>
    </div>
</div>
</body>
</html>