<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Educativo - CTEM</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/jardim_celeste.css">
    <script src="javascripts/jquery-2.2.4.min.js"></script>
</head>
<body>
<div id="content">
    <div id="top-bar">
        <div id="left-menu">
            <image id="logo-image" src="images/CTMx_logo.png" alt="Logotipo"/>
        </div>
        <div id="right-menu">
            <image id="menu-jogos-btn" class="top-btn"src="images/voltar.png" alt="Menu jogos"/>
            <image id="home-btn" class="top-btn"src="images/home.png" alt="Página de entrada"/>
            <image id="help-btn" class="top-btn"src="images/help.png" alt="Ajuda"/>
            <image id="som-btn" class="top-btn" src="images/som_off.png" alt="Controlo de som"/>
        </div>
    </div>
    <div id="middle-content">
        <h1>JOGOS</h1>
        <div id="jogos-area">
            <div id="jardim-block" class="jogo-block">
                <image id="jardim" src="images/imagem_jardim_celeste.png" alt="Imagem central" width="520px" height="381px"/>
                <div id="question1" class="click-area"></div>
                <div id="question2" class="click-area"></div>
                <div id="question3" class="click-area"></div>
            </div>
            <p>
                Pontuação:<span id="points">0</span>
            </p>
        </div>
    </div>
    <div class="footer">
        <div id="bottom-image">
            <image id="leaf" src="images/folha_grande.png" alt="Folha grande" width="158px" height="218px"/>
        </div>
        <p>Projecto desenvolvido no âmbito da Unidade Curricular de Software Educativo | FEUP | 2016</p>
    </div>
</div>
<!-- modal -->
<div id="questionsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button id="question-close-btn" type="button" class="close close-modal" data-dismiss="modal"></button>
                <button id="question-finish-btn" type="button" class="close finished-question"></button>
                <h4 id="countdown">180</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <p id="modal-feedback-message"></p>
            </div>
        </div>
    </div>
</div>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="javascripts/jardim_celeste.js"></script>
</body>
</html>