<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Educativo - CTEM</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/jogos.css">
    <script src="javascripts/jquery-2.2.4.min.js"></script>
</head>
<body>
<div id="content">
    <div id="top-bar">
        <div id="left-menu">
            <image id="logo-image" src="images/CTMx_logo.png" alt="Logotipo"/>
        </div>
        <div id="right-menu">
            <image id="home-btn" class="top-btn"src="images/home.png" alt="Página de entrada"/>
            <image id="help-btn" class="top-btn"src="images/help.png" alt="Ajuda"/>
            <image id="som-btn" class="top-btn" src="images/som_off.png" alt="Controlo de som"/>
        </div>
    </div>
    <div id="middle-content">
        <h1>JOGOS</h1>
        <div id="jogos-logos">
            <div id="jardim-block" class="jogo-block">
                <image id="jardim" class="active" src="images/jardim_celeste.png" alt="Imagem central" width="200px" height="200px"/>
                <p>JARDIM DA CELESTRE</p>
            </div>
            <div id="fabrica-block" class="jogo-block">
                <image id="fabrica" class="disabled" src="images/fabrica_chocolate.png" alt="Imagem central" width="200px" height="200px"/>
                <p>FABRICA DE CHOCOLATE</p>
            </div>
            <div id="treino-block" class="jogo-block">
                <image id="treino" class="disabled" src="images/treino_olimpico.png" alt="Imagem central" width="200px" height="200px"/>
                <p>TREINO OLIMPICO</p>
            </div>
            <div id="agencia-block" class="jogo-block">
                <image id="agencia" class="disabled" src="images/agencia_espacial.png" alt="Imagem central" width="200px" height="200px"/>
                <p>AGÊNCIA ESPACIAL</p>
            </div>
        </div>
    </div>
    <div>
        <p>Projecto desenvolvido no âmbito da Unidade Curricular de Software Educativo | FEUP | 2016</p>
    </div>
</div>
<script src="javascripts/jogos.js"></script>
</body>
</html>